::-webkit-scrollbar-track{ background-color: var(--snowwhite);  }
::-webkit-scrollbar-thumb{ background-color: var(--sootblack);  }
p{margin-bottom: 0}
.dip{
    display: flex;
    align-items: flex-start;
}
.dip-bg{
    position: absolute;
    top:-2px;
    z-index: 1;
    left: 0;
    max-width: 100%;
    min-width: 100%;
}
.dip-bg ~ img, .dip-bg ~ div  .carousel{
    position: relative;
    z-index: 2;
}
.about-slider{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slider-screen{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.slider-screen.active {
    z-index: 1;
}
.about-slider-indicators {
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}
.about-slider-indicators ul{
    display: flex;
    align-items: flex-end;
    list-style: none;
    float: left;
    margin: 0;
}
.about-slider-indicators ul li{
    height: 10px;
    width: 100px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    background: white;
    z-index: 10;
    opacity: 0.5;
    transition: all 200ms ease-out;
}
.about-slider-indicators ul li.active{
    height: 13px;
    opacity: 1;
}
.about-slider-indicators ul li:hover:not(.active){
    cursor: pointer;
    height: 13px;
    transition: all 200ms ease-out;
}
.about-slider-controls{
    position: absolute;
    top:50%;
    left: 5%;
    width: 90%;
    font-size: 30px;
    color: white;
    display: flex;
    z-index: 2;
    justify-content: space-between;
}
.about-slider-next, .about-slider-prev {
    height: 50px;
    cursor: pointer;
    background-color: #00000011;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.faded{
    position: absolute;
    bottom:0;
    height: 90%;
}
.slider-img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 1200px;
    max-height: 80%;
}
.right-0, .right-0 .slider-screen-animation{
    right: 0;
    text-align: right;
}
.left-0, .left-0 .slider-screen-animation{
    left: 0;
    text-align: left;
}
.slider-screen-heading{
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
    bottom:0;
    display: inline-block;
    padding: 30px;
    color: #FFFFFF;
    font-family: QuicksandRegular;
    font-style: italic;
}
.slider-screen-animation{
    position: absolute;
    box-sizing: border-box;
    height: 0;
    width: 100%;
    left:0;
}
.image-animation{
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 0;
    top:0;
}
.slider-screen-heading p{ margin: 0 }
.slider-screen-heading p:first-of-type{ font-size: 28px }
.slider-screen-heading p:last-of-type{ font-size: 56px }


.quick-facts{
    max-height: 150px;
    min-height: 150px;
    max-width: 100%;
    margin: 0 auto;
}
.header-curved{
    overflow: hidden;
    position: relative;
    bottom: -2px;
}
.header-curved img {
    min-width: calc(100% + 10px);
    transform: translateX(-5px);
}

.about-heading .title{
    font-size: 56px;
    font-family: QuicksandBold;
}
.about-heading .subtitle{
    font-size: 36px;
}

.borders{
    position: relative;
}
.borders:after{
    position: absolute;
    content: " ";
    top:0;
    right: 0;
    height: 60%;
    width: 60%;
    border: dashed 5px #FFFFFF;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
.borders:before{
    position: absolute;
    content: " ";
    bottom:0;
    left: 0;
    height: 60%;
    width: 60%;
    border: dashed 5px #FFFFFF;
    border-right-color: transparent;
    border-top-color: transparent;
}
.slider-bottom{
    margin-top: -2px;
}
.slider-bottom img{
    width: calc(100% + 4px);
    margin-left: -0.7px;
    margin-top: -25px;
}
.margin-negative{
    position: relative;
    margin-top: -2px;
}
.margin-negative:after{
    background: url('../../images/graphics/about-aboutus/slider-top-left.svg');
    background-size: 80px 80px;
    background-repeat: no-repeat;
    position: absolute;
    top:0;
    left: -79px;
    content: ' ';
    height: 80px;
    width: 80px;
}

/*Bootstrap*/

.dropdown .dropdown-menu a:active{
    background-color: var(--wetasphalt);
}
.dropdown .dropdown-menu a.active{
    color: var(--wetasphalt);
}
.carousel-item img{
    max-height: 60% !important;
    height: auto;
    width: auto;
    max-width: 70% !important;
    /*min-height: 100% !important;*/
    /*width: auto !important;*/
}
.carousel-item img.afterwards{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.carousel-indicators{
    display: flex;
    align-items: center;
}
.carousel-indicators li{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: all 300ms ease-out;
    cursor: pointer;
}
.carousel-indicators li.active{
    height: 30px;
    width: 30px;
    transition: all 300ms ease-out;
}


@media screen and (max-width : 992px) {
    .about-heading .title{
        font-size: 24px;
    }
    .about-heading .subtitle{
        font-size: 16px;
    }
}
@media screen and (max-width : 768px) {
    .about-slider-indicators ul li{
        width: 30px;
    }
    .slider-screen-heading{
        padding: 10px;
        padding-bottom:40px !important; }
    .slider-screen-heading p:first-of-type{ font-size: 14px }
    .slider-screen-heading p:last-of-type{ font-size: 28px }
    .slider-screen-heading.left-0, .slider-screen-heading.right-0{
        left: auto;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
    }
    .about-heading .title{
        font-size: 28px;
    }
    .about-heading .subtitle{
        font-size: 17px;
    }
    .carousel-indicators li{
        height: 15px;
        width: 15px;
    }
    .carousel-indicators li.active{
        height: 20px;
        width: 20px;
    }
}
@media screen and (max-width : 576px) {
    .about-heading .title{ font-size: 22px; }
    .about-heading .subtitle{ font-size: 14px; }
    .quick-facts{
        max-height: 120px;
        min-height: 120px;
    }
    .quick-facts ~ h1{ font-size: 22px; }
    .quick-facts ~ h5{ font-size: 14px; }
    .slider-screen-heading{ padding-bottom:100px; }
    .slider-img{ width: 95%; }
    .about-slider-controls {
        top:80%;
        width:100%;
        left:0;
    }
    .carousel-indicators li{
        height: 10px;
        width: 10px;
    }
    .carousel-indicators li.active{
        height: 15px;
        width: 15px;
    }
}

/*For phones smaller than or equal to iphone 5/SE*/
@media screen and (max-width : 320px) {
    .quick-facts{
        max-height: 80px;
        min-height: 80px;
    }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
    .about-slider{
        height: 150vh;
    }
}