::-webkit-scrollbar-track{ background-color: var(--orange) }
::-webkit-scrollbar-thumb{ background-color: var(--snowwhite);  }

@keyframes hover {
    0%{ transform: translateY(0)}
    100%{ transform: translateY(-20px)}
}
.cog img {
    max-width: 50%;
}
.way-to-careers, .buildings{
    position: absolute;
    bottom: 0;
    width: 50%;
    height: auto;
}
.way-to-careers{
    text-align: right;
    right:0 ;
}
.way-to-careers:before{
    position: absolute;
    top:-10%;
    right: -5%;
    content: url("../../images/graphics/about-careers/brain.svg");
    width: 40%;
}
.buildings{
    left:0 ;
    width: 25%;
    text-align: left;
}
.buildings:before{
    position: absolute;
    top:-25%;
    left:47.8%;
    height: 30px;
    content: url("../../images/graphics/about-careers/map-marker.svg");
    width: 15%;
    -webkit-animation:hover 1s ease-in-out;
    -o-animation:hover 1s ease-in-out;
    animation:hover 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.way-to-careers img{
    position: relative;
    right: -50px;
}
.career-icon
{

    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Bootstrap*/

.dropdown .dropdown-menu a:active{
    background-color: var(--carrot);
}
.dropdown .dropdown-menu a.active{
    color: var(--carrot);
}

@media screen and (max-width : 991px) {
    @keyframes hover {
        0%{ transform: translateY(0)}
        100%{ transform: translateY(-8px)}
    }
    .way-to-careers{
        position: relative;
        width: 70%;
        float: left;
    }
    .buildings{
        position: relative;
        width: 30%;
        float: left;
        left: -30px;
    }
    .way-to-careers img{
        position: absolute;
        width: 100%;
        bottom: 0;
        right: -50px;
    }
    .buildings img{
        width: calc(100% + 70px);
    }
    .buildings:before {
        top:-20%;
        left: calc(47.8% + 37px);
    }
}
@font-face 
{
  font-family: 'career-icons';
  src:  url('../../fonts/icons/about-career/career-icons.eot?bdzexe');
  src:  url('../../fonts/icons/about-career/career-icons.eot?bdzexe#iefix') format('embedded-opentype'),
    url('../../fonts/icons/about-career/career-icons.ttf?bdzexe') format('truetype'),
    url('../../fonts/icons/about-career/career-icons.woff?bdzexe') format('woff'),
    url('../../fonts/icons/about-career/career-icons.svg?bdzexe#career-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
span.dl-icon 
{
    font-family: 'career-icons' !important;
}
.icon-angular:before {
  content: "\e900";
}
.icon-django:before {
  content: "\e901";
}
.icon-laravel:before {
  content: "\e902";
}
.icon-nodejs:before {
  content: "\e903";
}
.icon-qa:before {
  content: "\e904";
}