:root{
    --testing-teal:#17BBB0;
    --testing-greensea:#009B90;
}
::-webkit-scrollbar-thumb{ background: var(--testing-greensea); }
/*::-webkit-scrollbar-track{ background: var(--testing-greensea); }*/

.testing-teal{ background-color: var(--testing-teal); }
.testing-greensea{ background-color: var(--testing-greensea); }

.testing-teal-text{ color: var(--testing-teal); }
.testing-greensea-text{ color: var(--testing-greensea); }

.landing-graphic-holder{
    height: calc(100vh - 150px);
    padding: 0;
    flex-direction: column;
}
.landing-graphic-holder img{
    height: calc(100% - 40px);
    z-index: 0;
}

/*content*/
.bar-paragraph-left{
    padding: 30px 50px;
    border-left: solid 3px #000;
    margin-top: 50px;
}
.bar-paragraph-right{
    text-align: right;
    padding: 30px 50px;
    border-right: solid 3px #000;
    margin-top: 50px;
}
.teal-bar{
    border-color: #17BBB0 !important;
}
.white-bar{
    border-color: #FFFFFF !important;
}


ul.hyphenated-list {
    list-style: none;
    padding-left: 15px;
}
ul.hyphenated-list li{
    position: relative;
}
ul.hyphenated-list li:before{
    position: absolute;
    content: "–";
    font-weight: bold;
    margin-left: -16px;
}


/*Bootstrap*/

.dropdown .dropdown-menu a:active{
    background-color: #17BBB0;
}
.dropdown .dropdown-menu a.active{
    color:  #17BBB0;
}

@media only screen and ( max-width: 767.98px ) {
    .landing-graphic-holder img{
        max-width: 150%;
    }
    .bar-paragraph-left{
        padding: 20px 0 20px 20px;
    }
    .bar-paragraph-right{
        padding: 20px 0 20px 20px;
        text-align: left;
        border-right: none;
        border-left: solid 3px #000;
    }
    .first{order:1}
    .second{order:2}
}
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipads */
    .landing-graphic-holder h1{
        top:70%;
        left: 25%;
        text-align: center !important;
    }
}


@font-face {
    font-family: 'testing-icons';
    src:  url('../../fonts/icons/services-testing/testing-icons.eot?fcwepo');
    src:  url('../../fonts/icons/services-testing/testing-icons.eot?fcwepo#iefix') format('embedded-opentype'),
    url('../../fonts/icons/services-testing/testing-icons.ttf?fcwepo') format('truetype'),
    url('../../fonts/icons/services-testing/testing-icons.woff?fcwepo') format('woff'),
    url('../../fonts/icons/services-testing/testing-icons.svg?fcwepo#testing-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
span.dl-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'testing-icons' !important;
}

.icon-chatbot-testing:before {
    content: "\e900";
}
.icon-defect-analysis:before {
    content: "\e901";
}
.icon-log-analytics:before {
    content: "\e902";
}
.icon-predictive-analysis:before {
    content: "\e903";
}
.icon-traceability:before {
    content: "\e904";
}
.icon-test-suit-optimization:before {
    content: "\e905";
}
