::-webkit-scrollbar-thumb{ background: var(--midnightblue); }
.landing-graphic-holder{
    height: calc(100vh - 150px);
    padding: 50px;
    flex-direction: column;
}
.landing-graphic-holder img{
    height: calc(100% - 40px);
    z-index: 0;
}
.landing-graphic-holder h1{
    position: absolute;
    width: 100%;
    top:34%;
    left: 50%;
}
.screen-heading{
    padding: 0 0 20px 0 !important;;
}
.smart-city-sun img{
    max-height:80px;
}
.smart-city-sky{
    padding-top: 100px;
}
.smart-city-sky img{
    max-height:120px;
}
.smart-city-left{
    position: relative;
    bottom: -2px;
    left: -2px;
    width: 100%;
    height: auto;
}
.smart-city-left-holder:before {
    content: url("../../images/graphics/services-iot/smart-city/smart-city-left-content.svg");
    position: absolute;
    width: 100%;
    height: auto;
    left: 40px;
    top:-10vw;
}
.smart-city-metro{
    width: 100%;
    position: relative;
    right: -40px;
    height: auto;
    bottom: -2px;
    align-self: flex-end;
}
.smart-city-metro-holder:before {
    content: url("../../images/graphics/services-iot/smart-city/smart-city-metro-content.svg");
    position: absolute;
    width: 7vw;
    height: auto;
    right: 70px;
    top:10vw;
}
.smart-city-metro-holder:after {
    content: url("../../images/graphics/services-iot/smart-city/balloon-peteriver.svg");
    position: absolute;
    width: 4vw;
    height: auto;
    right: 170px;
    top:-20%;
}
.automative-svg{
    position: relative;
    top: 1px !important;
}
.automative-svg:after{
    position: absolute;
    height: 80px;
    width: 80px;
    top:-40%;
    right: 20%;
}
.automative-svg img{
    position: relative;
}
.automative-svg:first-of-type:after{
    top:-30%;
    content: url('../../images/graphics/services-iot/automative/connected-car-systems-text.svg');
    left: 30%;
}
.automative-svg:nth-child(2):after{
    content: url('../../images/graphics/services-iot/automative/control-tower-text.svg');
}
.automative-svg:nth-child(3):after{
    content: url('../../images/graphics/services-iot/automative/connected-car-systems-text.svg');
}
.automative-svg:first-of-type img{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    left: -30px;
}
.automative-svg:last-of-type img{
    right: -30px;
}
.automative-elements{
    height: 150px;
    position: relative;
}
.automative-elements:first-child{
    min-height: 230px;
    right: -120px;
}
.automative-elements:after{
    position: absolute;
    height: 80px;
    width: 80px;
}
.automative-elements:nth-child(1):after{
    top:50px;
    right:260px;
    content: url('../../images/graphics/services-iot/automative/satellite-text.svg');
}
.automative-elements:nth-child(2):after{
    content: url('../../images/graphics/services-iot/automative/weather-balloon-text.svg');
    top:50px;
    left:260px;
}
.automative-elements img{
    height: 100%;
    width: auto;
}
.health-care{
    position: absolute;
    bottom:0;
    left: 0;
    width: 50%;
}
.health-care {
    max-height: 700px;
}


/*Bootstrap*/

.dropdown .dropdown-menu a:active{
    background-color: #2c3e50;
}
.dropdown .dropdown-menu a.active{
    color: #2c3e50;
}

@media only screen and (max-width: 991.98px){
    .first-order{ order: 1; }
    .second-order{ order: 2; }
    .smart-city-sky{
        padding-top: 40px;
    }
    .smart-city-left-holder:before, .smart-city-metro-holder:before, .smart-city-metro-holder:after {
        display: none;
    }
    .smart-city-metro{
        width: auto;
        height: 60px;
        bottom: -30px;
    }
    .health-care{
        position: relative;
        width: 100%;
        left: -20px;
    }
}
@media only screen and (max-width: 767.98px){
    .automative-elements:after, .automative-svg:after {
        display: none;
    }
}
@media only screen and (max-width: 575.98px){
    .first-order{ order: 1; }
    .second-order{ order: 2; }
    .smart-city-metro{
        height: 40px;
        bottom: -20px;
        right: -70px;
    }
    .scrollable-image::-webkit-scrollbar-thumb{ background: var(--belizehole); }
    .scrollable-image::-webkit-scrollbar{ height: 4px !important; }
    .scrollable-image {
        overflow-y: scroll;
    }
    .scrollable-image img{
        width: 450px !important;
    }

    .automative-elements{
        height: 90px;
    }
    .automative-elements:first-child{
        min-height: 150px;
    }
}
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For ipads */
    .landing-graphic-holder h1{
        position: absolute;
        top:64%;
        left: 25%;
        text-align: center;
    }
}