::-webkit-scrollbar-thumb{ background: #2980b9; }
.landing-graphic-holder{
    height: calc(100vh - 150px);
    flex-direction: column;
}
.landing-graphic-holder img{
    height: calc(100% - 40px);
    z-index: 0;
}
.landing-graphic-holder h1{
    position: absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
}

/*content */
.first-image{
    max-width: 240px;
    min-width: 240px;
    max-height: 210px;
}
.first-image img{
    max-width: 100%;
    height:150px;
}
.bar-paragraph-left{
    padding: 30px 50px;
    border-left: solid 3px #000;
    margin-top: 50px;
}
.bar-paragraph-right{
    text-align: right;
    padding: 30px 50px;
    border-right: solid 3px #000;
    margin-top: 50px;
}
.belizehole-bar{
    border-color: #2980b9 !important;
}
.white-bar{
    border-color: #FFFFFF !important;
}
/*Bootstrap*/

.dropdown .dropdown-menu a:active{
    background-color: var(--belizehole);
}
.dropdown .dropdown-menu a.active{
    color: var(--belizehole);
}
@media only screen and (max-width: 991px) {

    .first{
        order: 1;
    }
    .second{
        order:2;
    }
    .first-image{
        margin: 0 auto;
    }
    .first-image img{
        max-height: 100%;
        max-width: 220px;
        padding: 30px;
    }
}

@media only screen and ( max-width: 767.98px ) {
    .landing-graphic-holder img{
        max-width: 150%;
        width: auto;
    }
    .bar-paragraph-left{
        padding: 20px 0 20px 20px;
    }
    .bar-paragraph-right{
        padding: 20px 0 20px 20px;
        text-align: left;
        border-right: none;
        border-left: solid 3px #000;
    }
   
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipads */
    .landing-graphic-holder h1{
        top:73%;
        left: 50%;
        text-align: center;
        color:white !important;
    }
}





















