@keyframes rotate {
    0%{transform: rotate(0deg)}
    60%{transform: rotate(0deg)}
    100%{transform: rotate(60deg)}
}
.preloading-screen{
    display: flex;
    position: fixed;
    z-index: 2199 !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
}
.preloader{
    animation: rotate 800ms ease-in;
    animation-iteration-count: infinite;
}